# =============================================================================
# API SERVER
# =============================================================================
API_SERVER_ENABLED=true                            # 允许hermes网关后台模式
API_SERVER_HOST=0.0.0.0                            # 允许所有ip访问hermes网关